# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://myzhhwqtnflnmgggnnqj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15emhod3F0bmZsbm1nZ2dubnFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzOTg4NTYsImV4cCI6MjA5MTk3NDg1Nn0.lAXFkX5pVafA5h_VWvddjINwIo8dYlmbWxVpTj9c76o
